name: flutter_cloud_kit
description: Plugin for interaction with Apple CloudKit
version: 0.0.2
homepage: https://github.com/Fuelet/flutter_cloud_kit

environment:
  sdk: '>=2.19.6 <3.0.0'
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  plugin:
    platforms:
      ios:
        pluginClass: FlutterCloudKitPlugin
